{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{building.name}} - {% trans "Informações" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li><a href="{% url 'buildings:index' building.id %}">{{building.name}}</a></li>
    <li class="active">{% trans "Informações do Edifício" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{building.name}} - {% trans "Informações" %}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        {% if perms.users.manager_buildings %}
          <div class="text-center">
            <b><a href="{% url 'buildings:edit_building' building.id campus.url_param %}" class="btn btn-warning">{% trans "Editar Informações" %}</a></b>

            {% if building.active %}
            <form class="enable_disable_buttons" action="{% url 'buildings:disable_building' building_id=building.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-danger" onclick="return confirm('Deseja realmente desativar?')">{% trans "Desativar Edifício" %}</button>
            </form>

            {% else %}
            <form class="enable_disable_buttons" action="{% url 'buildings:enable_building' building_id=building.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-success" onclick="return confirm('Deseja realmente ativar?')">{% trans "Ativar Edifício" %}</button>
            </form>
            {% endif %}
          </div>
        <hr>
        {% endif %}

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Informações" %}</h3>
            <hr>

            <div class="top-margin">
              <label>{% trans "Campus" %}:</label>
              <p>{{building.campus.name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Nome" %}:</label>
              <p>{{building.name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Sigla" %}:</label>
              <p>{{building.acronym}}</p>
            </div>

            {% if perms.users.manager_buildings %}
              <div class="top-margin">
                <label>{% trans "Endereço de IP do Servidor" %}:</label>
                <p>{{building.server_ip_address}}</p>
              </div>
            {% endif %}

            <div class="top-margin">
              <label>{% trans "Descrição" %}:</label>
              <p>{{building.description}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Telefone" %}:</label>
              <p>{{building.phone}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "URL do Site" %}:</label>
              {% if building.website_address %}
                <p><a href="{{building.website_address}}">{{building.name}}</a></p>
              {% endif %}
            </div>
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
