{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{campus.acronym}} - {% trans "Edifícios Desativados" %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'campuses/css/campuses.css' %}" />
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li class="active">{% trans "Edifícios Desativados" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{campus.name}} - {% trans "Edifícios Desativados" %}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Lista de Edifícios" %}</h3>
            <hr>

            {% if inactive_buildings %}
              <table id="centered_table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>{% trans "Nome" %}</th>
                    <th>{% trans "Transdutores Funcionando" %}</th>
                    <th>{% trans "Transdutores Defeituosos" %}</th>
                    <th>{% trans "Opções" %}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for building in inactive_buildings %}
                    <tr>
                      <td><a href="{% url 'buildings:index' building.id %}">{{building.name}}</a></td>

                      <td>{{building.transductor_set.count}}</td>

                      {% if building.get_all_broken_transductors %}
                        <td><a id="a_broken_transductor" href="{% url 'buildings:building_broken_transductors' building.id %}">{{building.get_all_broken_transductors.count}}</a></td>
                        </td>
                      {% else %}
                      <td>0</td>
                      {% endif %}

                      <td>
                        <form class="enable_disable_buttons" action="{% url 'buildings:enable_building' building.id %}" method="post">
                          {% csrf_token %}
                          <button class="btn btn-success" onclick="return confirm('Deseja realmente habilitar o edifício?')">{% trans "Ativar Edifício" %}</button>
                          <input type="hidden" name="next" value="{% url 'campuses:campus_index' campus.url_param %}">
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <div class="container">
                <div class="starter-template">
                  <h2>{% trans "Nenhum Edifício Desativado" %}</h2>
                </div>
              </div>
            {% endif %}
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
